@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

body {
	margin: 0;
	@include var(background-color, "neutral");
	@include var(color, "tertiary-2");
	overflow-x: hidden;

	word-wrap: break-word;
	word-break: break-word;

	transition: background-color .25s;

	&> main {
		margin-top: 1.5rem;
	}
}

h1, h2, h3, h4, h5,
h1 > a, h2 > a, h3 > a, h4 > a, h5 > a {
	@include var("color", "secondary-2");

    font-family: $font-heading;
}

p {
	@include var("color", "tertiary-2");
}

a {
	@include var("color", "accent");

	cursor: pointer;
	outline: none;
	text-decoration: none;

	padding: 0 0.2rem;
	margin: 0 -0.2rem;

	transition: color .25s, background-color .25s;
	-moz-transition: color .25s, background-color .25s;
	-webkit-transition: color .25s, background-color .25s;
}

a:hover, a:focus {
	@include var("color", "highlight");
	text-decoration: underline;
}

a:not(.link):focus {
	@include var(background-color, ("primary", !important));
	@include var(color, ("on-primary", !important));
	text-decoration-color: transparent;
}

html, body {
	height: 100%;
}

body.--sticky-footer {
	// flex display for sticky footer
	display: flex;
	flex-direction: column;

	&> main {
		flex: 1 0 auto;
	}

	&+ footer, &+ .footer {
		flex-shrink: 0;
	}
}

::selection {
	@include var(background-color, "highlight");
	@include var(color, "on-highlight");
}
