$box-fixed-x: 4rem !default;
$box-fluid-x: 2vw !default;
$box-x: calc(#{$box-fixed-x} + #{$box-fluid-x}) !default;

$box-fixed-y: .5rem !default;
$box-fluid-y: 2vw !default;
$box-y: calc(#{$box-fixed-y} + #{$box-fluid-y}) !default;

$box-border-size: 2px !default;

$font-heading: 'Bitter', serif !default;
$font-body: 'Titillium Web', monospace !default;
$font-code: 'Roboto Mono', monospace !default;

$shadow-light: 0 .125rem .25rem !default;
$shadow: 0 .4rem 1.2rem !default;
$shadow-full: 0 1rem 3rem !default;

$theme: (
	"lighter": #FFFFFF,
	"light": #FAFAFA,
	"neutral": #F5F5F5,
	"dark": #E0E0E0,
	"darker": #BDBDBD,
	"primary": #101010,
	"primary-1": #212121,
	"primary-2": #424242,
	"primary-3": #616161,
	"primary-4": #8A8A8A,
	"primary-5": #BDBDBD,
	"accent": #007bff,
	"on-accent": #FFFFFF,
	"highlight": #004fa3,
	"on-highlight": #FFFFFF,
	"success": #28a745,
	"danger": #dc3545,
	"warning": #ffc107,
	"info": #17a2b8,
	"white": "#FFFFFF",
	"black": "#000000",
    "attr-filter-color": contrast(0) brightness(0)
) !default;

$theme-dark: (
	"lighter": #424242,
	"light": #303030,
	"neutral": #212121,
	"dark": #151515,
	"darker": #101010,
	"primary": #FAFAFA,
	"primary-1": #F5F5F5,
	"primary-2": #E0E0E0,
	"primary-3": #BDBDBD,
	"primary-4": #9E9E9E,
	"primary-5": #616161,
	"accent": #00EAC0,
	"on-accent": #000000,
	"highlight": #00EAC0,
	"on-highlight": #000000,
	"success": #28a745,
	"danger": #dc3545,
	"warning": #ffc107,
	"info": #17a2b8,
	"white": "#FFFFFF",
	"black": "#000000",
    "attr-filter-color": contrast(0) brightness(2)

) !default;

@mixin theme-vars($t) {
  @each $key, $value in $t {
    --#{$key}: #{$value};
  }
}

@function var-defaults($keys, $separator: space) {
  $list: ();

  @each $key in $keys {
    @if map-has-key($theme, $key) {
      $list: append($list, #{map-get($theme, $key)}, $separator: $separator);
    }
    @else {
      $list: append($list, $key, $separator: $separator);
    }
  }

  @return $list;
}

@function var-values($keys, $separator: space) {
  $list: ();

  @each $key in $keys {
    @if map-has-key($theme, $key) {
      $list: append($list, var(--#{$key}), $separator: $separator);
    }
    @else {
      $list: append($list, $key, $separator: $separator);
    }
  }

  @return $list;
}

@mixin var($attr, $keys, $separator: space) {
	#{$attr}: var-defaults($keys);
	#{$attr}: var-values($keys);
}
