$box-fixed-x: 4rem !default;
$box-fluid-x: 2vw !default;
$box-x: calc(#{$box-fixed-x} + #{$box-fluid-x}) !default;

$box-fixed-y: .5rem !default;
$box-fluid-y: 2vw !default;
$box-y: calc(#{$box-fixed-y} + #{$box-fluid-y}) !default;

$box-border-size: 2px !default;
$box-border-radius: 5px !default;

$font-heading: 'Bitter', serif !default;
$font-body: 'Titillium Web', monospace !default;
$font-code: 'Roboto Mono', monospace !default;

$shadow-light: 0 .125rem .25rem !default;
$shadow: 0 .4rem 1.2rem !default;
$shadow-full: 0 1rem 3rem !default;

$theme-light: (
	"lighter": #FFFFFF,
	"light": #FAFAFA,
	"neutral": #F0F0F0,
	"dark": #E0E0E0,
	"darker": #BDBDBD,
	"primary": #264361,
	"on-primary": #FFFFFF,
	"secondary": #0e2033,
	"on-secondary": #FFFFFF,
	"tertiary": #000000,
	"on-tertiary": #FFFFFF,
	"accent": #0063cc,
	"on-accent": #FFFFFF,
	"highlight": #004fa3,
	"on-highlight": #FFFFFF,
	"success": #28a745,
	"danger": #dc3545,
	"warning": #ffc107,
	"info": #17a2b8,
	"white": #FFFFFF,
	"black": #000000
) !default;

$theme-dark: (
	"lighter": #223636,
	"light": #162222,
	"neutral": #101515,
	"dark": #050808,
	"darker": #000505,
	"primary": #cefff6,
	"on-primary": #000000,
	"secondary": rgb(147, 255, 236),
	"on-secondary": #000000,
	"tertiary": #FFFFFF,
	"on-tertiary": #000000,
	"accent": #00EAC0,
	"on-accent": #000000,
	"highlight": #00EAC0,
	"on-highlight": #000000,
	"success": #28a745,
	"danger": #dc3545,
	"warning": #ffc107,
	"info": #17a2b8,
	"white": #FFFFFF,
	"black": #000000
) !default;

$themes: (
	"light": $theme-light,
	"dark": $theme-dark
) !default;

$theme-keys: ();

@each $key, $theme in $themes {
	$new-theme: ();
	$new-theme-keys: ();

	@each $name, $color in $theme {
		$new-theme: map-merge($new-theme, (
			"#{$name}": $color,
			"#{$name}-1": change-color($color, $alpha: 0.9),
			"#{$name}-2": change-color($color, $alpha: 0.75),
			"#{$name}-3": change-color($color, $alpha: 0.6),
			"#{$name}-4": change-color($color, $alpha: 0.4),
			"#{$name}-5": change-color($color, $alpha: 0.2)
		));

		$new-theme-keys: append($new-theme-keys, $name);
	}

	$themes: map-merge($themes, ("#{$key}": $new-theme)) !global;
	$theme-keys: $new-theme-keys !global;
}

@mixin theme-vars($t) {
  @each $key, $value in $t {
    --#{$key}: #{$value};
  }
}

@function var-defaults($keys, $separator: space) {
  $list: ();
  $theme: map-get($themes, "light");

  @each $key in $keys {
    @if map-has-key($theme, $key) {
      $list: append($list, #{map-get($theme, $key)}, $separator: $separator);
    }
    @else {
      $list: append($list, $key, $separator: $separator);
    }
  }

  @return $list;
}

@function var-values($keys, $separator: space) {
  $list: ();
  $theme: map-get($themes, "light");

  @each $key in $keys {
    @if map-has-key($theme, $key) {
      $list: append($list, var(--#{$key}), $separator: $separator);
    }
    @else {
      $list: append($list, $key, $separator: $separator);
    }
  }

  @return $list;
}

@mixin var($attr, $keys, $separator: space) {
	#{$attr}: var-defaults($keys);
	#{$attr}: var-values($keys);
}

// calculate material design "sp" value for font-size
@function sp($sp) {
	@return ($sp / 14) * 1rem;
}
