@import "global.scss";

* {
	font-family: $font-body;
	animation-name: fadeIn;
	animation-duration: .3s;
	animation-timing-function: ease-out;

	@include theme-vars($theme);
}

@media (prefers-color-scheme: dark) {
	* {
		@include theme-vars($theme-dark);
	}
}

.--theme-dark,
.--theme-dark * {
	@include theme-vars($theme-dark);
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

body {
	margin: 0;
	background-color: #FFFFFF;
	background-color: var(--normal-background);
	color: #424242;
	color: var(--normal-color);

	word-wrap: break-word;
	word-break: break-word;

	transition: background-color .25s;
	-moz-transition: background-color .25s;
	-webkit-transition: background-color .25s;
}

p {
	@include var("color", "normal-color-text");
}

a {
	@include var("color", "accent-color-text");

	cursor: pointer;
	outline: none;
	text-decoration: underline;
	transition: color .25s;
	-moz-transition: color .25s;
	-webkit-transition: color .25s;
}

a:hover, a:focus {
	@include var("color", "normal-color-focus");
}

a:focus {
	text-decoration-color: transparent;
	font-weight: bold;
}

.material-icons.--focusable {
	@include var("color", "normal-color-focusable");

	transition: color .25s;
	-moz-transition: color .25s;
	-webkit-transition: color .25s;
}

.material-icons.--focusable:hover {
	@include var("color", "normal-color-focus");
}

.material-icons.--clickable {
	user-select: none;
	cursor: pointer;
}

@import "elements/button.scss";
@import "elements/blockquote.scss";
@import "elements/footer.scss";
@import "elements/iframe.scss";
@import "elements/item.scss";
@import "elements/markdown.scss";
@import "elements/nav.scss";
@import "elements/pager.scss";
@import "elements/table.scss";
@import "elements/tabs.scss";
@import "elements/code.scss";
@import "elements/form.scss";
@import "elements/layout.scss";
@import "elements/sidebar.scss";
@import "elements/filter.scss";
@import "elements/img.scss";
@import "elements/link.scss";
@import "elements/snackbar.scss";

body {
	margin: 0;

	@include var("background-color", "normal-background-darker");
	@include var("color", "normal-color");

	word-wrap: break-word;
	word-break: break-word;

	transition: background-color .25s;
	-moz-transition: background-color .25s;
	-webkit-transition: background-color .25s;
}

main {
	@include var("background-color", "normal-background");

	display: block;
	margin-left: 10vw;
	margin-right: 10vw;
	margin-bottom: 2em;
	padding-top: 2em;
	
	transition: transform .25s;
	-moz-transition: transform .25s;
	-webkit-transition: transform .25s;
}

@media(max-width: 599px) {
	main {
		padding-top: 16px;
	}

	.--desktop {
		display: none;
	}
}

@media(max-width: 1000px) {
    .--desktop-large {
        display: none;
    }
}

@media(min-width: 1575px) {
	main {
		margin-left: calc(50vw - 630px);
		margin-right: calc(50vw - 630px);
	}
}
