@import "../../global.scss";

.input--select::after {
	display: block;
	position: absolute;
	bottom: 15px;
	right: 14px;
	width: 24px;
	height: 24px;
	user-select: none;
	pointer-events: none;
	transform: translateY(2px);

	@include material-icons;
	content: 'arrow_drop_down';
}

select::-ms-expand {
	display: none;
}

select {
    @include var("background-color", "normal-background");
    @include var("color", "normal-color-text");
    @include var(
        "border",
        (1px, solid, "normal-outline")
    );
    
	width: 200px;
	height: 32px;
	padding: .4em .6em;
	margin: 0;
	margin-right: 10px;
	margin-bottom: 10px;
	outline: none;

	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	transition: border .25s, color .25s;
	-moz-transition: border .25s, color .25s;
	-webkit-transition: border .25s, color .25s;
}

select:hover, select:focus {
	@include var("color", "normal-color");
}

select:focus {
	@include var(
        "border",
        (1px, solid, "normal-color")
    );
}

option {
	background-color: #424242;
	background-color: var(--normal-background-darker);
}
