@import "../global.scss";

code {
	@include var(background-color, "dark");

	padding: 2px 6px;
	border-radius: 3px;

	font-family: $font-code;
	font-size: 0.9em;

	* {
		font-family: $font-code;
		font-size: 0.9em;
	}
}

pre, .code {
	@include var(background-color, "lighter");
	@include var(border, (1px, solid, "tertiary"));
	@include shadow-light;

	border-radius: 5px;
	overflow-x: auto;
	padding: 1rem;
}

.code__header {
	@include var(color, (1px, solid, "primary"));
	@include var(background-color, "darker");
	@include var(border, (1px, solid, "tertiary"));
	@include shadow-light;

	border-top-left-radius: 5px;
	border-top-right-radius: 5px;

	padding: 0.5rem 1rem;

	&+ pre, &+ .code {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		border-top: 0;
		margin-top: 0;
	}
}

a > code {
	display: inline-block;
	border-bottom: 1px solid currentColor;
	text-decoration: none;
	padding-top: 0;
	padding-bottom: 0;
}

pre > code {
	background: none;
	padding: 0;
	border: none;

	font-size: 1em;

	* {
		font-size: 1em;
	}
}
