@import "../global.scss";

.button {
	@include var("background-color", "accent-background");
	@include var(
		"color",
		("accent-inverse", !important)
	);
	@include var(
		"box-shadow",
		($shadow-light, "accent-outline-fade")
	);

	outline: none;
	border: 1px solid transparent;
	border-radius: 5px;
	user-select: none;
	cursor: pointer;
	padding: 0.75em 1.25em;

	transition: box-shadow .25s, background-color .25s, border-color .25s, color .25s;
	-moz-transition: box-shadow .25s, background-color .25s, border-color .25s, color .25s;
	-webkit-transition: box-shadow .25s, background-color .25s, border-color .25s, color .25s;
}

.button--selectable {
	@include var(
		"color",
		("normal-color-focusable", !important)
	);

	background-color: rgba(255, 255, 255, 0);
	box-shadow: none;
}

.button:hover {
	@include var("background-color", "accent-background");
	@include var(
		"color",
		("accent-inverse", !important)
	);
	@include var(
		"box-shadow",
		($shadow-full, "accent-outline-fade")
	);
}

.button:focus {
	font-weight: bold;
	border-color: currentColor;
}

.button--selectable:hover {
	@include var(
		"color",
		("normal-color-focus", !important)
	);
	@include var(
		"box-shadow",
		($shadow-light, "accent-outline-fade")
	);

	background-color: rgba(255, 255, 255, 0.2);
}

.button--selectable[selected] {
	@include var("background-color", "accent-background");
	@include var(
		"color",
		("accent-inverse", !important)
	);
	@include var(
		"box-shadow",
		($shadow-full, "accent-outline-fade2")
	);

	border-color: transparent;
}