@import "../global.scss";

$container-breakpoint: $breakpoint-xl !default;

.container {
	display: block;
	max-width: 900px;
	margin: 0 auto;
	margin-bottom: 2em;
    padding-top: 2em;
}

@media(max-width: $container-breakpoint) {
	.container {
		margin: 0 5vw;
	}
}
