@import "../global.scss";

.footer {
    clear: both;
	margin-bottom: 8em;
	
	transition: transform .25s;
	-moz-transition: transform .25s;
	-webkit-transition: transform .25s;
}

.footer__link {
	@include var("color", "normal-color-text");

	background: none;
	text-decoration: underline;
	font-size: .75em;
}
