@import "../global.scss";

form {
	@include var("background-color", "normal-background-dark");
	@include var(
		"border-top",
		(1px, solid, "normal-outline")
	);
	@include var(
		"border-bottom",
		(1px, solid, "normal-outline")
	);

	padding: 2em 4em;
	width: 100%;
	text-align: center;
}

form.form--wide {
	width: 100% !important;
	padding-left: 10vw;
	padding-right: 10vw;
	margin: 0 -10vw;
}

input[type=submit].button {
	padding: .6em .8em;
}

input[type=text] {
	@include var(
		"border",
		(1px, solid, "normal-outline")
	);
	@include var("background-color", "normal-background");
	@include var("color", "normal-color");

	padding: calc(.6em - 1px) .8em;
	outline: none;

	transition: border .25s;
	-moz-transition: border .25s;
	-webkit-transition: border .25s;
}

input[type=text]:focus {
	@include var(
		"border",
		(1px, solid, "normal-color")
	);
}

input[type=checkbox] {
	display: none;
	outline: none;
}

input[type=checkbox] + label {
	user-select: none;
	cursor: pointer;
}

input[type=checkbox] + label:before {
	display: inline-block;
	height: 24px;
	width: 24px;
	padding: 0;
	margin: 0;
	margin-left: 24px;
	margin-right: 16px;
	outline: none;
	transform: translateY(6px);

	@include material-icons;
	content: 'check_box_outline_blank';
}

input[type=checkbox]:checked + label:before {
	content: 'check_box';
}

input[type=file] {
	display: none;
}

input[type=file] + label {
	font-size: .8em;
}

input[type=file] + label {
	@include var("background-color", "accent-background");
	@include var(
		"color",
		("accent-inverse", !important)
	);
	@include var(
		"box-shadow",
		($shadow-light, "accent-outline-fade")
	);
	
	border: none;
	outline: none;
	user-select: none;
	cursor: pointer;
	padding: 0.75em 1.25em;

	transition: box-shadow .25s, background-color .25s, color .25s;
	-moz-transition: box-shadow .25s, background-color .25s, color .25s;
	-webkit-transition: box-shadow .25s, background-color .25s, color .25s;
}

input[type=file] + label:hover {
	@include var("background-color", "accent-background");
	@include var(
		"color",
		("accent-inverse", !important)
	);
	@include var(
		"box-shadow",
		($shadow-full, "accent-outline-fade")
	);
}

input[type=range] {
	@include var("background-color", "normal-focus");
	@include var(
		"border",
		(1px, solid, "normal-outline")
	);

	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	width: 128px;
	height: 20px;
	margin: 0;
	outline: none;

	-webkit-transition: border .25s;
	-moz-transition: border .25s;
	transition: border .25s;
}

input[type=range]:hover {
	@include var(
		"border",
		(1px, solid, "normal-color")
	);
}

input[type=range]::-moz-range-track {
	border: none;
	background: transparent;
}

input[type=range]::-ms-track {
	border: inherit;
	color: transparent;
	background: transparent;
}

input[type=range]::-ms-fill-lower,
input[type=range]::-ms-fill-upper {
	background: transparent;
}

input[type=range]::-ms-tooltip {
	display: none;
}

input[type=range]::-webkit-slider-thumb {
	@include var("background-color", "accent-color");
	@include var(
		"box-shadow",
		($shadow-light, "accent-outline-fade")
	);

	-webkit-appearance: none;
	width: 24px;
	height: 20px;
	border: none;
}

input[type=range] + label {
	@include var("background", "normal-background");
	@include var(
		"border",
		(1px, solid, "normal-outline")
	);

	display: inline-block;
	height: 20px;
	min-width: 40px;
	padding: 0 .5em;
	text-align: center;
	vertical-align: top;
	line-height: 20px;
}
