.layout--grid {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	margin: -8px;
}

.layout--grid > * {
	word-break: break-word;
	word-wrap: break-word;
}

.layout--grid > * {
	width: 200px;
	margin: 8px;
}
