@import "../global.scss";

.link {
	background: none;
	text-decoration: none !important;
	display: flex;
	align-items: center;
	min-height: 2em;
	margin-bottom: 0.5em;
}

.link__img,
.link__img--round,
.link__img--color {
	width: 24px;
	min-width: 24px;
	height: 24px;
	margin-right: 18px;
}

.link__title + .link__img {
	margin-right: 0;
	margin-left: 18px;
}

.link__img--round {
	@include var(
		"border",
		(1px, solid, "normal-outline-dark")
	);
	@include var(
		"box-shadow",
		("0 0 1px 0px", "normal-outline-dark", ",", "0 0 1px 0px", "normal-outline-dark")
	);

	border-radius: 50%;
}

.link__img--round {
	@include var("border-color", "normal-color-focusable");

	transition: border .25s;
	-moz-transition: border .25s;
	-webkit-transition: border .25s;
}

.link:hover .link__img--round {
	@include var("border-color", "normal-color-focus");
}

.link__img:not(.link__img--round) {
	filter: contrast(0);

	transition: filter .25s;
	-moz-transition: filter .25s;
	-webkit-transition: filter .25s;
}

.link:hover .link__img:not(.link__img--round) {
	@include var("filter", "attr-filter-color");
}

.link__img--color {
	filter: none !important;
}

.link__title {
	@include var("color", "normal-color-focusable");
	
	transition: color .25s;
	-moz-transition: color .25s;
	-webkit-transition: color .25s;
}

.link:hover .link__title {
	@include var("color", "normal-color-focus");
}
