@import "../global.scss";

$sidebar-width: calc(20% + 64px) !default;
$sidebar-width-fixed: 560px !default;

.sidebar {
	@include var("background-color", "normal-background-dark");
	@include var(
		"border-bottom",
		(1px, solid, "normal-outline")
	);

	display: block;
	padding: 2em 10vw;
	user-select: none;
	overflow-y: hidden;
	max-height: 0px;
	z-index: 98;

	transition: max-height .25s;
	-moz-transition: max-height .25s;
	-webkit-transition: max-height .25s;
}

.sidebar:hover {
	max-height: 150vh;
}

.sidebar * {
	@include var("color", "normal-color-text");
}

.sidebar a {
	background: none;
	text-decoration: underline;
}

.sidebar::before {
	@include var("color", "normal-color-focusable");

	content: '...';
	display: block;
	text-align: center;
	line-height: 1em;
	font-size: 2em;
	
	position: relative;
	left: 50%;
	top: -0.5em;
	transform: translateX(-50%);

	transition: opacity .25s;
	-moz-transition: opacity .25s;
	-webkit-transition: opacity .25s;
}

.sidebar:hover::before {
	opacity: 0;
}

@media(min-width: $breakpoint-xl) {
	.sidebar__container {
		padding-right: $sidebar-width;
	}
	
	.sidebar {
		@include var(
			"border-left",
			(1px, solid, "normal-outline")
		);

		position: fixed;
		width: $sidebar-width;
		right: 0;
		top: 0;
		bottom: 0;
		padding: 3em 2em;
		border-bottom: none;
		max-height: initial;
		overflow-y: auto;
	}

	.sidebar::before {
		display: none;
	}
}
