@import "../global.scss";

.sidebar {
	@include var("background-color", "normal-background-dark");
	@include var(
		"border-bottom",
		(1px, solid, "normal-outline")
	);

	display: block;
	padding: 2em 10vw;
	user-select: none;
	overflow-y: hidden;
	max-height: 0px;
	z-index: 98;

	transition: max-height .25s;
	-moz-transition: max-height .25s;
	-webkit-transition: max-height .25s;
}

.sidebar:hover {
	max-height: 150vh;
}

.sidebar * {
	@include var("color", "normal-color-text");
}

.sidebar a {
	background: none;
	text-decoration: underline;
}

.sidebar::before {
	@include var("color", "normal-color-focusable");

	content: '...';
	display: block;
	text-align: center;
	line-height: 1em;
	font-size: 2em;
	
	position: relative;
	left: 50%;
	top: -0.5em;
	transform: translateX(-50%);

	transition: opacity .25s;
	-moz-transition: opacity .25s;
	-webkit-transition: opacity .25s;
}

.sidebar:hover::before {
	opacity: 0;
}

@media(min-width: 800px) {
	.sidebar ~ main,
	.sidebar ~ .footer {
		width: calc(70% - 20vw);
	}
	
	.sidebar {
		@include var(
			"border-left",
			(1px, solid, "normal-outline")
		);

		position: fixed;
		width: calc(30% - 4em);
		right: 0;
		top: 0;
		bottom: 0;
		padding: 3em 2em;
		border-bottom: none;
		max-height: initial;
		overflow-y: auto;
	}

	.sidebar::before {
		display: none;
	}
	
}

@media(min-width: 1575px) {
	.sidebar ~ main,
	.sidebar ~ .footer {
		width: calc(882px);
	}

	.sidebar {
		width: calc(20% - 4em);
	}
}

@media(min-width: 2800px) {
	.sidebar ~ main,
	.sidebar ~ .footer {
		width: auto;
	}

	.sidebar {
		@include var(
			"border",
			(1px, solid, "normal-outline")
		);

		width: 560px;
		height: auto;
		position: absolute;
		top: 10em;
		bottom: auto;
		border-radius: 10px;
		right: calc(50vw - 1190px - 6em);
	}
}
