@import "../global.scss";

table {
	@include var(
		"border",
		(1px, solid, "normal-outline")
	);

	display: inline-block;
	max-width: 100%;
	overflow-x: auto;
	border-collapse: collapse;
	border-radius: 5px;
}

thead {
	@include var("background", "normal-outline");
}

th, td {
	padding: 0.5em 1em;
	text-align: left;
	word-break: normal;
}

tr {
	@include var(
		"border-bottom",
		(1px, solid, "normal-outline")
	);
}

tr:last-child {
	border-bottom: none;
}