@mixin shadow {
	box-shadow: $shadow rgba(0, 0, 0, 0.15);
}

@mixin shadow-light {
	box-shadow: $shadow-light rgba(0, 0, 0, 0.175);
}

@mixin shadow-full {
	box-shadow: $shadow-full rgba(0, 0, 0, 0.2);
}

@mixin shadow-outline($color: "primary-4") {
	@include var(box-shadow, (0, 0, 0, 0.2rem, $color));
}

.shadow {
	@include shadow;
}

.shadow-light {
	@include shadow-light;
}

.shadow-full {
	@include shadow-full;
}

.shadow-outline {
	@include shadow-outline;
}
