.input {
	display: inline-block;
	position: relative;
	margin-bottom: 1rem;
	margin-right: 0.5rem;

	&> .input__title, &> label {
		display: block;
		margin: 0;
		margin-bottom: .2em;
		padding: 0;
		font-size: .8em;
		font-weight: bolder;

		@include var("color", "tertiary-3");

		transition: color .25s;
	}

	&:focus-within > .input__title,
	&:focus-within > label {
		@include var("color", "secondary");
	}
}

@mixin input {
	@include var("border", (1px, solid, "tertiary-5"));
	@include var("background-color", "light");
	@include var("color", "tertiary");

	padding: calc(.6em - 1px) .8em;
	outline: none;
	appearance: none;
	-webkit-appearance: none;

	transition: border .25s;

	&:focus {
		border-color: currentColor;
	}

	&.is-invalid, &:invalid {
		@include var(border-color, "danger");
		@include var(color, "danger");
	}

	&[disabled] {
		@include var(border-color, "tertiary-5");
		@include var(color, "tertiary-5");
		@include var(background-color, "neutral");
	}
}

input[type=text], textarea {
	@include input;

	width: 180px;
}
