$nav-width: 84px !default;
$nav-height: 64px !default;

.nav-bar {
	@include var(background-color, "lighter");
	@include var(color, "secondary");
	@include var(border-top, (1px, solid, "tertiary-5"));
	@include shadow-full;

	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;

	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 110;

	height: $nav-height;

	.nav-item {
		&:hover, &.active {
			opacity: 1;

			.nav-item-img {
				transform: translateY(0);
			}

			.nav-item-title {
				opacity: 1;
				transform: translateY(0);
				visibility: visible;
			}
		}

		.nav-item-img {
			transform: translateY(9px);
			backface-visibility: hidden;

			transition: transform .25s;
		}

		.nav-item-title {
			height: 18px;
			font-size: sp(12);
			opacity: 0;
			visibility: hidden;

			transform: translateY(9px);
			backface-visibility: hidden;

			transition: transform .25s, opacity .25s;
		}
	}
}

.nav-container {
	padding-bottom: $nav-height;
}

@include media-breakpoint-up("md", $grid-breakpoints) {
	.nav-bar {
		border: none;
		@include var(border-right, (1px, solid, "tertiary-5"));

		box-shadow: none;

		height: auto;
		width: $nav-width;

		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: auto;

		flex-direction: column;
		justify-content: flex-start;

		.nav-item {
			height: auto;
			flex-grow: unset;

			padding: 1rem 0;
		}
	}

	.nav-container {
		position: relative;
		padding-bottom: 0;
		padding-left: $nav-width;
	}
}
