@import "../global.scss";

button, .button, input[type=submit] {
	@include var(background-color, "neutral");
	@include var(color, "secondary");
	@include shadow-light;

	outline: none;
	text-decoration: none;
	font-size: .8em;

	border: 1px solid currentColor;
	border-radius: 5px;
	padding: 0.5rem 1rem;

	user-select: none;
	cursor: pointer;

	transition: box-shadow .25s, background-color .25s, border-color .25s, color .25s;
	-moz-transition: box-shadow .25s, background-color .25s, border-color .25s, color .25s;
	-webkit-transition: box-shadow .25s, background-color .25s, border-color .25s, color .25s;

	&:hover {
		@include var(background-color, "accent");
		@include var(color, "on-accent");
		@include shadow;

		border-color: transparent;
		text-decoration: none;
	}

	&:focus {
		@include var(background-color, "primary");
		@include var(color, "lighter");
		@include var(box-shadow, (0, 0, 0, 0.2rem, "tertiary"));

		border-color: transparent;
	}

	&[disabled] {
		@include var(color, "tertiary");
		background: none;
		box-shadow: none;
		border-color: currentColor;
	}
}
