.card {
	@include var(background-color, "light");
	@include var(border, (1px, solid, "tertiary-5"));

	display: inline-block;
	display: flex;
	flex-direction: column;

	vertical-align: top;
	border-radius: $box-border-radius;

	transition: background-color .25s, border .25s, box-shadow .25s;

	&[onclick], &[href], &-clickable {
		background: none;
		cursor: pointer;

		&:hover {
			@include var(background-color, "light");
			@include shadow;

			.card-title {
				text-decoration: underline;
			}
		}
	}

	.card-img {
		display: block;
		width: 100%;

		border-top-left-radius: $box-border-radius;
		border-top-right-radius: $box-border-radius;
	}

	.card-title {
		@include var(color, "secondary");
		font-size: sp(16);

		display: block;
		margin-top: 1rem;
		margin-left: 1.5rem;
		margin-right: 1.5rem;
		margin-bottom: 0.25rem;

		padding: 0;

		&+ .card-body {
			margin-top: 0;
		}
	}

	.card-body {
		@include var(color, "tertiary-2");
		font-size: sp(14);

		flex-grow: 1;

		margin: 1rem 1.5rem;
		padding: 0;
	}

	.card-actions {
		@include var(border-top, (1px, solid, "tertiary-5"));

		padding: 0.5rem 1.5rem;

		.link {
			margin: 0 -0.2rem;
		}
	}

	@each $key in $theme-keys {
		&-#{$key} {
			@include var(background-color, "#{$key}-5");
			@include var(border-color, "#{$key}-4");

			&> .card-actions {
				@include var(border-color, "#{$key}-4");
			}
		}
	}
}
