code {
	@include var(background-color, "dark");

	padding: 2px 6px;
	border-radius: calc($box-border-radius / 1.5);

	font-family: $font-code;
	font-size: sp(12);

	* {
		font-family: $font-code;
		font-size: sp(12);
	}
}

pre, .code {
	@include var(background-color, "light");
	@include var(border, (1px, solid, "tertiary-5"));
	@include var(color, (1px, solid, "tertiary"));
	@include shadow;

	border-radius: $box-border-radius;
	overflow-x: auto;
	padding: 1rem;

	tab-size: 4;

	&[data-ts="2"] {
		tab-size: 2;
	}

	&[data-ts="4"] { // default
		tab-size: 4;
	}

	&[data-ts="8"] {
		tab-size: 8;
	}

	&> code {
		padding: 0 !important;
		background: none !important;
		overflow-x: unset !important;
	}
}

.code-header {
	@include var(color, (1px, solid, "secondary"));
	@include var(background-color, "darker");
	@include var(border, (1px, solid, "tertiary-5"));
	@include shadow;

	border-top-left-radius: $box-border-radius;
	border-top-right-radius: $box-border-radius;

	padding: 0.5rem 1rem;

	&+ pre, &+ .code {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		border-top: 0;
		margin-top: 0;
	}
}

a {
	&> code {
		display: inline-block;

		transition: background-color .25s;
	}

	&:hover > code {
		text-decoration: underline;
	}

	&:focus > code {
		@include var(background-color, "highlight");
	}
}

a:hover > code {
	text-decoration: underline;
}

pre > code {
	background: none;
	padding: 0;
	border: none;

	font-size: sp(14);

	* {
		font-size: sp(14);
	}
}
