@import "../global.scss";

code {
	@include var(background-color, "dark");

	padding: 2px 6px;
	border-radius: 3px;

	font-family: $font-code;
	font-size: 0.9em;

	* {
		font-family: $font-code;
		font-size: 0.9em;
	}
}

pre, .code {
	@include var(background-color, "light");
	@include var(border, (1px, solid, "primary-5"));
	@include shadow;

	border-radius: 5px;
	overflow-x: auto;
	padding: 1rem;

	tab-size: 4;

	&[data-ts="2"] {
		tab-size: 2;
	}

	&[data-ts="4"] { // default
		tab-size: 4;
	}

	&[data-ts="8"] {
		tab-size: 8;
	}
}

.code__header {
	@include var(color, (1px, solid, "primary"));
	@include var(background-color, "darker");
	@include var(border, (1px, solid, "primary-5"));
	@include shadow;

	border-top-left-radius: 5px;
	border-top-right-radius: 5px;

	padding: 0.5rem 1rem;

	&+ pre, &+ .code {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		border-top: 0;
		margin-top: 0;
	}
}

a {
	&> code {
		display: inline-block;

		transition: background-color .25s;
	}

	&:hover > code {
		text-decoration: underline;
	}

	&:focus > code {
		@include var(background-color, "primary");
	}
}

a:hover > code {
	text-decoration: underline;
}

pre > code {
	background: none;
	padding: 0;
	border: none;

	font-size: 1em;

	* {
		font-size: 1em;
	}
}
