footer, .footer {
	@include var(background-color, "dark");
	@include var(border-top, (1px, solid, "tertiary-5"));

	clear: both;
	padding: 1rem 0;
}

.footer__link {
	@include var(color, "tertiary-2");
	font-size: sp(10);

	&:after {
		content: "\a";
		white-space: pre;
	}
}
