.link {
	background: none;
	text-decoration: none;
	display: flex;
	align-items: center;
	min-height: 2em;

	.link-img {
		@include var(color, "tertiary");

		width: 24px;
		min-width: 24px;
		height: 24px;
		margin-right: 12px;

		opacity: 0.6;

		transition: opacity .25s;

		&-round {
			@extend .link-img;

			@include var(border, (1px, solid, "tertiary-3"));
			@include var(box-shadow, ("0 0 1px 0px", "tertiary-3", ",", "0 0 1px 0px", "tertiary-3"));

			border-radius: 50%;
			transition: border .25s;
		}
	}

	.link-title {
		@include var(color, "tertiary-3");
		text-decoration: none;

		transition: color .25s;

		&+ .link-img {
			margin-right: 0;
			margin-left: 12px;
		}
	}

	&:hover, &:focus {
		text-decoration: none;

		.link-img-round {
			@include var(border-color, "tertiary");
		}

		.link-img:not(.link-img-round) {
			opacity: 1;
		}

		.link-title {
			@include var(color, "tertiary");
		}
	}
}

.link-chip {
	display: inline-flex;
	border-radius: 1.25em;
	padding: .25rem 1rem;
	margin-right: 0.5rem;
	min-height: 2.5em;
	vertical-align: top;

	@include var(border, (1px, solid, "tertiary-5"));
	@include var(background-color, "dark");

	transition: background-color .25s, box-shadow .25s, border-color .25s;

	* {
		@include var(color, "tertiary-2");
	}

	.link-img {
		margin-right: 8px;
		margin-left: -2px;
	}

	&:hover {
		@include var(border-color, "tertiary");
	}

	&:focus {
		@include shadow-outline("tertiary-4");
		border-color: transparent;
	}
}
