.link {
	background: none;
	border: none;
	outline: none;
	padding: 0 0.2rem;
	font-size: 1em;
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	vertical-align: top;
	margin-right: 1rem;
	min-height: 2rem;

	opacity: 0.6;

	transition: opacity .25s;

	&-block {
		display: flex;
		margin: 0;
	}

	.link-img {
		@include var(color, "tertiary");

		width: 24px;
		min-width: 24px;
		height: 24px;
		margin-right: 8px;

		&-round {
			@extend .link-img;

			@include var(border, (1px, solid, "tertiary-3"));
			@include var(box-shadow, ("0 0 1px 0px", "tertiary-3", ",", "0 0 1px 0px", "tertiary-3"));

			border-radius: 50%;
			transition: border .25s;
		}
	}

	.link-title {
		@include var(color, "tertiary");
		text-decoration: none;

		padding: 0 0.2rem;
		margin: 0 -0.2rem;

		transition: color .25s, background-color .25s;

		&+ .link-img {
			margin-right: 0;
			margin-left: 8px;
		}
	}

	@include focus-any {
		text-decoration: none;
		opacity: 1;

		.link-title {
			text-decoration: underline;
		}
	}

	&:hover .link-img-round {
		@include var(border-color, "tertiary");
	}

	@include focus-visible {
		.link-title {
			@include var(background-color, "highlight");
			@include var(color, "on-highlight");
		}
	}
}

.link-chip {
	display: inline-flex;
	border-radius: 1.25rem;
	padding: .25rem 1rem;
	margin-right: 0.5rem;
	min-height: 2.5rem;
	vertical-align: top;

	@include var(border, (1px, solid, "tertiary-5"));
	@include var(background-color, "dark");

	transition: opacity .25s, background-color .25s, box-shadow .25s, border-color .25s;

	* {
		@include var(color, "tertiary-2");
	}

	.link-img {
		margin-right: 8px;
		margin-left: -2px;
	}

	&:hover {
		@include var(border-color, "tertiary");
	}

	&:focus {
		@include shadow-outline("tertiary-4");
		border-color: transparent;

		.link-title {
			@include var(color, "tertiary-2");
			background: none;
		}
	}

	@each $key in $theme-keys {
		&.link-#{$key} {
			@include var(background-color, "#{$key}-5");
			@include var(border-color, "#{$key}-4");

			&:hover {
				@include var(border-color, $key);
			}

			&:focus {
				@include shadow-outline("#{$key}-4");
				border-color: transparent;
			}
		}
	}
}

@media (prefers-color-scheme: dark) {
	img.link-img {
		filter: contrast(0) brightness(2);
	}
}

.--theme-light img.link-img {
	filter: contrast(0) brightness(0);
}

.--theme-dark img.link-img {
	filter: contrast(0) brightness(2);
}
