.text {
	line-height: 1.8;
}

.text img {
	@include var("background-color", "dark");
	@include shadow-light;

	border-radius: $box-border-radius;
}

.text p>img {
    width: 100%;
}

.text a>img {
	border-radius: 0;
	box-shadow: none;
	border: none;
	background: none;
}

.text td>img {
    min-width: 200px;
}

.text, p {
	&> a, .text-link {
		&:not(.link) {
			padding: 0 0.2rem;
			margin: 0 -0.2rem;
		}
	}
}

a, .text-link {
	@include var("color", "accent");
	@include var("--rel-highlight", "highlight");

	cursor: pointer;
	outline: none;
	text-decoration: none;

	font-size: 1em;
	background: none;
	border: none;

	transition: color .25s, background-color .25s;


	&:hover, &:focus {
		color: var(--rel-highlight);
		text-decoration: underline;
	}

	&:not(.link):focus {
		@include var(background-color, ("highlight", !important));
		@include var(color, ("on-highlight", !important));
		text-decoration-color: transparent;
	}
}
