@import "../global.scss";

.select {
	display: inline-block;
	position: relative;
}

.select::after {
	display: block;
	position: absolute;
	bottom: 15px;
	right: 14px;
	width: 24px;
	height: 24px;
	user-select: none;
	pointer-events: none;
	transform: translateY(2px);

	@include material-icons;
	content: 'arrow_drop_down';
}

.select__title {
	display: block;
	margin: 0;
	margin-bottom: .2em;
	padding: 0;
	font-size: .8em;
	font-weight: bolder;
}

select::-ms-expand {
	display: none;
}

select {
    @include var("background-color", "normal-background");
    @include var("color", "normal-color-text");
    @include var(
        "border",
        (1px, solid, "accent-color-text")
    );
    
	width: 200px;
	height: 32px;
	padding: .4em .6em;
	margin: 0;
	margin-right: 10px;
	margin-bottom: 10px;
	outline: none;

	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	transition: background-color .25s, color .25s;
}

select:hover, select:focus {
	@include var("background-color", "normal-background-dark");
	@include var("color", "normal-color");
}

option {
	background-color: #424242;
	background-color: var(--normal-background-darker);
}
